@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?lfamiy=Inconsolata:wght@200&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    color: white;
}

h1{
    font-family: 'Poppins';
    color: white;
}

div{
    width: 300px;
}

.copy_right_footer{
    color: white;
    position: fixed;
bottom: 10px;
font-family: 'Inconsolata', monospace;
text-align: center;
width: 100%;
background-color: none;
left:0
}
